
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=scriptables
MYSQL_USER=scriptable
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me

REDIS_DSN=127.0.0.1:6379

SCRIPTABLES_SERVER_DSN_HOST=127.0.0.1
SCRIPTABLES_SERVER_DSN_PORT=3001
SCRIPTABLE_URL=http://127.0.0.1:3001
ALLOWED_IPS=

ENCRYPTION_KEY=CHANGE-ME-16-24-OR-32-CHARS-LONG
ALLOW_REGISTER=true


SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=586
SMTP_USERNAME=xxxx
SMTP_PASSWORD=xxxx
SMTP_FROM_EMAIL=Scriptables <noreply@test.com>

TZ=Africa/Johannesburg
VERBOSE_LOG=yes
GIN_MODE=release
