<form action="/users/password/reset/{{token}}" method="post">
  <input type="hidden" name="_csrf_token" value="{{_csrf_token}}" />

  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" placeholder="you@example.com" required />
  </div>

  <div class="mb-3">
    <label class="form-label">New password</label>
    <input type="password" name="password" class="form-control" placeholder="New password"
      autocomplete="new-password" required />
  </div>

  <div class="mb-3">
    <label class="form-label">Confirm new password</label>
    <input type="password" name="passwordAgain" class="form-control" placeholder="Repeat new password"
      autocomplete="new-password" required />
  </div>

  <div class="form-footer">
    <button type="submit" class="btn btn-primary w-100">Change password</button>
  </div>
</form>
